.footer {
    background-color: #333;
    margin-top: 1.5rem;
    height: 5rem;
    padding: 2rem;
  }
  p {
    color: #fff;
    font-size: 80%;
  }

  .notie-container {
    box-shadow: none;
  }

  .datepicker-picker {
    z-index: 2;
  }
  .swal2-actions {
    z-index: 0;
  }

  .footer {
    background-color: #333;
    margin-top: 1.5rem;
    height: 5rem;
    padding: 2rem;
  }

  .room-img {
    max-width: 50%;
  }
